<!DOCTYPE html>
<html>
<head>
    <title>Simulators</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <h1>Physics Simulators</h1>
    <p> Click on a simulator to start the simulations and scroll down to read the physics behind it!</p>
    <div class="sim-list">
        <a href="/gravity" class="sim-button">Gravity Simulator</a>
        <a href="/collision" class="sim-button">Collision Simulator</a>
        <a href="/projectile" class="sim-button">Projectile Simulator</a>
    </div>
</body>
</html>
